@{
    Layout = "./../Shared/Admin_Layout.cshtml";
}

<link rel = "stylesheet" href = "~/css/User_Homepage.css">
<link rel = "stylesheet" href = "~/css/MainAdmin_Homepage.css">

<style>
    .btn-primary {
        color: #fff;
        background-color: #03182f;
        border-color: #03182f;
    }
</style>

<div class="jumbotron text-center w-100" id="jumbo">
    <b><h1 class="display-4">Hello, @ViewBag.Fname @ViewBag.Lname!</h1></b>
    <hr>
    <p class="lead">Welcome to Complaint Registration System, This is your DashBoard.</p>
    <p class="lead">You can manage everything from here.</p>
</div>

<div class="jumbotron">
  <div class="container" style="text-align: center;">
    <p> You have @ViewBag.count Complaints Pending</p>
    @if(@ViewBag.Count>0)
    {
      <a href="~/home/Complaint_Log/@ViewBag.dept[0].id" class="btn btn-primary stretched-link">Click Here</a>
    }
    
  </div>
</div>

<div class="row" style="font-weight:bold;">
    <div class="col-md-6 text-center">
        <h3>Number of Registered Complaints</h3>
        <h3>@ViewBag.ComplaintsCount</h3>
    </div>
    <div class="col-md-6 text-center">
        <h3>Number of Suggestions</h3>
        <h3>@ViewBag.SuggestionsCount</h3>
    </div>
</div>
